.display-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: auto;
}

.block:hover{
    background-color: white;
    border-radius: 20px;
    transition: 1s;
}

.block:hover .image{
    filter: invert(100%);
    transition: 1s;
}

.block:hover .title-block{
    color: #0C0C17;
    transition: 1s;
}

.image{
    margin: 0px;
    padding: 10px 10px 0px 10px; 
    height: auto;
    width: 100px;
}

.title-block{
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    width: 90%;
    height: 90px;
    color: white;
    font-size: 17pt;
}

@media screen and (min-width: 1301px) and (max-width: 1904px){
    .display-block{
        width: 350px;
    }

    .block{
        width: 350px;
    }
    
    .image{
        width: 80px;
    }
    
    .title-block{
        padding-top: 10px;
        height: 70px;
        font-size: 13pt;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    .display-block{
        width: 250px;
    }

    .block{
        width: 250px;
    }
    
    .image{
        width: 70px;
    }
    
    .title-block{
        padding-top: 10px;
        width: 90%;
        height: 70px;
        font-size: 11pt;
    }
}

@media screen and (min-width: 700px) and (max-width: 999px){
    .display-block{
        width: 100%;
    }

    .block{
        width: 90%;
    }
    
    .image{
        width: 60px;
    }
    
    .title-block{
        padding-top: 10px;
        width: 90%;
        height: 70px;
        font-size: 11pt;
    }
}

@media screen and (max-width: 699px){
    .display-block{
        width: 100%;
    }

    .block{
        width: 90%;
    }
    
    .image{
        width: 60px;
    }
    
    .title-block{
        padding-top: 10px;
        width: 90%;
        height: 70px;
        font-size: 11pt;
    }
}