.elements{
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.demo{
    width: 800px;
}

.demo-title{
    color: #4685FE;
    text-align: center;
}

.demo-text-deco{
    font-style: normal;
    color: #0C0C17;
    background-color: #4685FE;
}

.demo-text{
    text-align: center;
    width: 465px;
}

.demo-items{
    
}

.title-items{
    color: #0C0C17;
    background-color: #33FFBA;
    font-size: 16pt;
    margin: 0px;
}

.items{
    display: flex;
    align-items:flex-start;
    justify-items: flex-start;
    flex-direction: column;
}

.demo-form{
    width: 300px;
}