.footer{
    background-color: #2F2F5B;
    color: white;
    width: 100%;
}

.footer-top{
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-footer{
    height: 75px;
    width: auto;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media svg{
    color: white;
    width: 45px;
    height: 45px;
    margin-left: 17px;
}

.social-media svg:hover{
    transition: 0.5s;
    color: #01D990;
}

.developed{
    margin: 0px;
    padding: 15px 25px 25px 25px;
    text-align: center;
}

.my-name{
    color: #01D990;
}

