.form{
    border-radius: 15px;
    width: 390px;
    background-color: white;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
}

.description-form{
    color: #0C0C17;
    font-weight: 600;
    width: 75%;
    text-align: justify;
}

.field{
    padding: 0px 10px 0px 10px;
    width: 75%;
    height: 45px;
    margin: 20px 0px 10px 0px;
    border-radius: 8px;
    border-color: #4685FE;
    border-style:solid;
    font-size: 12pt;
}

.button-form{
    color: #0C0C17;
    font-size: 11pt;
    font-weight: bold;
    background-color: #FCAB18;
    border-style: none;
    border-radius: 20px;
    padding: 25px 30px 25px 30px;
    margin: 20px;
}