@media screen and (min-width: 1905px){
    .header{
        background-color: #2F2F5B;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    
    .logo-header{
        height: auto;
        padding: 10px;
        width: 300px;
    }
    
    .image-header{
        height: auto;
        width: 400px;
    }
    
    .title-header{
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
    }
    
    .header-text-deco{
        font-style: normal;
        color: #01D990;
    }

    .title1{
        font-size: 35pt;
    }
    
    .title2{
        font-size: 28pt;
        width: 900px;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1904px){
    .header{
        background-color: #2F2F5B;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    
    .logo-header{
        height: auto;
        width: 250px;
    }
    
    .image-header{
        height: auto;
        width: 300px;
    }
    
    .title-header{
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
    }
    
    .header-text-deco{
        font-style: normal;
        color: #01D990;
    }
    
    .title2{
        width: 600px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    .header{
        background-color: #2F2F5B;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    
    .logo-header{
        height: auto;
        width: 250px;
    }
    
    .image-header{
        height: auto;
        width: 300px;
    }
    
    .title-header{
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
    }
    
    .header-text-deco{
        font-style: normal;
        color: #01D990;
    }
    
    .title2{
        width: 600px;
    }
}

@media screen and (min-width: 700px) and (max-width: 999px){
    .header{
        background-color: #2F2F5B;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    
    .logo-header{
        height: auto;
        width: 150px;
        padding: 5px;
    }
    
    .image-header{
        height: auto;
        width: 200px;
    }
    
    .title-header{
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
    }

    .texts-header{
        width: 70%;
    }
    
    .header-text-deco{
        font-style: normal;
        color: #01D990;
    }

    .title1{
        font-size: 18pt;
        margin: 0px;
        padding: 0px;
        text-align: left;
        width: 100%;
    }
    
    .title2{
        padding: 10px 0px 10px 0px;
        font-size: 13pt;
        margin: 0px;
        text-align: left;
        width: 100%;
    }
}

@media screen and (max-width: 699px){
    .header{
        background-color: #2F2F5B;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    
    .logo-header{
        height: auto;
        width: 150px;
        padding: 5px;
    }
    
    .image-header{
        height: auto;
        width: 190px;
    }
    
    .title-header{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        font-size: 10pt;
    }

    .texts-header{
        width: 90%;
    }
    
    .header-text-deco{
        font-style: normal;
        color: #01D990;
    }

    .title1{
        font-size: 15pt;
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 100%;
    }
    
    .title2{
        padding: 10px 0px 10px 0px;
        font-size: 10pt;
        margin: 0px;
        text-align: center;
        width: 100%;
    }
}