.elements-more-benefits{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.text-image-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image-more{
    height: auto;
    width: 550px;
}

.title-more{
    font-size: 33pt;
    text-align: center;
}

.text-more{
    font-size: 29pt;
    line-height: 50px;
    width: 800px;
    text-align: left;
}

.title-button-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.satisfied{
    font-size: 35pt;
    text-align: center;
}

.deco-more{
    padding: 1px 5px 1px 5px;
    color: #0C0C17;
    background-color: #4685FE;
    font-style: normal;
}

.request-button{
    color: #0C0C17;
    background-color: #33FFBA;
    border-radius: 20px;
    padding: 25px 35px 25px 35px;
    font-size: 25pt;
    font-weight: bold;
    border: none;
}

@media screen and (min-width: 1301px) and (max-width: 1904px){
    .image-more{
        width: 440px;
    }

    .title-more{
        font-size: 25pt;
    }
    
    .text-more{
        font-size: 23pt;
        line-height: normal;
        width: 500px;
    }
    
    .satisfied{
        font-size: 27pt;
    }
    
    .request-button{
        font-size: 20pt;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    .elements-more-benefits{
        padding: 0px;
    }
    
    .image-more{
        width: 380px;
    }

    .title-more{
        width: 90%;
        font-size: 24pt;
        text-align: center;
    }
    
    .text-more{
        font-size: 20pt;
        line-height: normal;
        width: 420px;
    }
    
    .satisfied{
        font-size: 26pt;
    }
    
    .request-button{
        font-size: 18pt;
    }
}

@media screen and (min-width: 700px) and (max-width: 999px){
    .elements-more-benefits{
        padding: 0px;
    }

    .image-more{
        width: 200px;
    }
    
    .title-more{
        font-size: 19pt;
    }
    
    .text-more{
        font-size: 15pt;
        line-height: normal;
        width: 500px;
    }
    
    .title-button-block{
        padding-bottom: 28px;
    }
    
    .satisfied{
        font-size: 21pt;
    }
    
    .request-button{
        font-size: 13pt;
    }
}

@media screen and (max-width: 699px){
    .elements-more-benefits{
        width: 100%;
        padding: 0px;
    }

    
    .text-image-block{
        flex-direction: column;
    }
    
    .image-more{
        width: 70%;
    }
    
    .title-more{
        font-size: 18pt;
        width: 90%;
    }

    .text-more{
        font-size: 17pt;
        line-height: normal;
        width: 80%;
        text-align: center;
    }
    
    .title-button-block{
        padding-bottom: 27px;
    }
    
    .satisfied{
        width: 90%;
        font-size: 19pt;
    }
    
    .request-button{
        font-size: 11pt;
    }
}